<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <title>AJOUT DES OFFRES</title>
    
</head>
<body>
    <h1>Les offres d'emplois</h1>
    <H2>Heeee safi</H2>
<div class="nav navbar-default">
    <ul class="nav navbar-nav">
        <li><a th:href="@{/Offre/liste}">Offre d'emploi</a></li>
        <li><a th:href="@{/Candidat/liste}">Demande d'emploi</a></li>
        <!--li><a th:href="@{/Offre/listeoffre}">Voir offres</a></li-->
        <!--li><a th:href="@{/Candidat/listedemande}">Voir demandes</a></li-->
        <li><a th:href="@{/Candidat/logout}" th:inline="text" style="color: red;"> [[${#httpServletRequest.remoteUser}]] Deconnexion</a></li>
    </ul>
</div>
    <div class="container col-sm-9 col-md-4" >
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:2em">Postez une offre</div>
       	<div class="panel-body" style=" margin: 20px;">
            <form method="POST" th:action="@{/offres}" th:object="${offre}" th:method="post">
                <div class="from-group">
                    <label class="from-label">Identifiant</label>
                    <input class="form-control" type="text" name="id"  th:field="${offre.id}" readonly/>
                </div>

                <div class="from-group">
                    <label class="from-label">Nom de l'entreprise</label>
                    <input class="form-control" type="text" name="nomEntreprise" th:field="${offre.nomEntreprise}"/>
                </div>
                <div class="from-group">
                    <label class="from-label">Description</label>
                    <textarea class="form-control" type="text" name="descriptionOffre"  th:field="${offre.descriptionOffre}"></textarea>
                    
                </div>          
                <br/>
                <div class="from-group">
                    <input class="btn btn-success" type="submit" name="valider" value="Valider" />
                    <input class="btn btn-danger" type="reset" name="annuler" value="Annuler" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container col-sm-6 col-md-8" >
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:2em">Liste des offres</div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tr >
                    <th style="text-align:center">Identifiant</th>
                    <th style="text-align:center">Nom de l'entreprise</th> 
                    <th style="text-align:center">Description de l'offre</th>          
                    <th style="text-align:center">Action</th>
                    <th style="text-align:center">Action</th>

                </tr>
                <tr th:each="off:${liste_offres}">
                    <td th:text="${off.id}"></td>
                    <td th:text="${off.nomEntreprise}"></td>
                    <td th:text="${off.descriptionOffre}"></td>                  
                    <td><a th:href="@{/offres/edit(id=${off.id})}">Update</a></td>
                    <td><a th:href="@{/offres/delete(id=${off.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    
</body>
</html>